tags
config.mk

*.o

librelease/librelease.so
libopenrelease/libopenrelease.so

release/release
release/release.sym

utils/sstrip/sstrip
utils/mkcramfs/mkcramfs
utils/sym/sym

builds

lgapp
*.tar.gz
*.cramfs
*.cramfs.lzo
*.pak
*.epk
